rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    match /posts/{uid}/{fileName} {
      allow read: if signedIn();
      allow write: if signedIn() && uid == request.auth.uid && request.resource.size <= 25 * 1024 * 1024 && request.resource.contentType.matches('image/.*|video/.*');
      allow delete: if signedIn() && (uid == request.auth.uid);
    }
    match /stories/{uid}/{fileName} {
      allow read: if signedIn();
      allow write: if signedIn() && uid == request.auth.uid && request.resource.size <= 10 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
      allow delete: if signedIn() && uid == request.auth.uid;
    }
  }
}